sphinx
sphinx_rtd_theme
docutils
pybtex
setuptools
sphinxcontrib-bibtex
myst-parser
sphinxcontrib.apa
sphinx_opensearch
sphinx-design
sphinx-sitemap
readthedocs-sphinx-search
opensearch-py
sphinxcontrib.datatemplates
sphinx-hoverxref
linkify-it-py